<div class="product-card">
    <div class="product-image">
        <img [src]="'assets/images/products/batteur/'+product.pictureUrl" alt="">
    </div>
    <div class="product-characteristics">
        <h4 class="product-category">{{product.subSubCategory.name}}</h4>
        <p class="brand">{{product.brandName}}</p>
        <p class="reference">{{product.reference}}</p>
        <br>
        <ul class="list-characteristics">
            <li>TYPE : SANS BOL</li>
            <li>PUISSANCE : 300</li>
            <li>FINITION : BLANC</li>
            <li>SANS FIL : NON</li>
        </ul>
        <hr>
        <div class="bottom-buttons">
            <a href="" class="ajouter-favoris">
                <i class="fa-regular fa-heart fa-lg"  style="color: #858585;">
            
                </i>
            </a>
            <button type="button">Ajouter au panier</button>
        </div>

    </div>
    <div class="price-and-infos">
        <div class="price">{{product.price}} <span>DH</span></div>
        <div class="stock-availability">{{product.stockStatus}}</div>
        <button type="button">VOIR LE <br> PRODUIT</button>
    
    </div>

</div>
