.product-card {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    border: 1px solid rgba(151,151,151,.54);
    border-radius: 12px;
    padding: 22px 10px 15px 15px;
    display: flex;
    max-width: 100%;
    width: auto;
    min-width: 700px;
    margin-bottom: 15px;
    box-shadow: 4px 2px 7px 0 rgba(0,0,0,.11);
}

.product-card .product-image {
    /* width: 260px; */
}

.product-card .product-image img {
    max-width: 227px;
    height: auto;
}

.product-card .product-characteristics {
    width: auto;
    min-width: 260px;
    padding: 0 40px;
    flex-grow: 3;
}

.product-card .product-characteristics ul.list-characteristics {
    min-width: 231px;
}

.product-card .product-characteristics hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: rgba(151,151,151,.54);
}

.product-card .product-characteristics .bottom-buttons {
    min-width: 319px;
}

.product-card .product-characteristics .bottom-buttons .ajouter-favoris {
    
}

.product-card .product-characteristics .bottom-buttons .ajouter-favoris i {
    position: relative;
}

.product-card .product-characteristics .bottom-buttons .ajouter-favoris i::after {
    content: "+";
    position: absolute;
    font-size: 10px;
    height: 11px;
    width: 11px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    right: -3.5px;
    top: -4px;
}

.product-card .product-characteristics .bottom-buttons button {
    margin-left: 15px;
    padding: 7px 10px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.product-card .product-characteristics .bottom-buttons span {
    margin-left: 10px;
}

.product-card .price-and-infos {
    padding: 0 10px;
    width: auto;
    min-width: 140px;
}

.product-card .price-and-infos > div {
    margin-bottom: 10px;
}

.product-card .price-and-infos .price {
    font-size: 24px;
    font-weight: 600;
    color: #d40f2d;
}

.product-card .price-and-infos .stock-availability {
    color: #4baa0a;
    background-color: #edf6e7;
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 12px;
    border-radius: 12px;
}

.product-card .price-and-infos button {
    font-size: 13px;
    font-weight: 700;
    padding: 9px 20px;
    border-radius: 30px;
    cursor: pointer;
    border-color: transparent;
    background-color: black;
    color: white;
}