<div class="product-card">
    <div class="product-image">
        <img src="assets/images/products/batteur/batteur-mhm-301-1.jpg" alt="">
    </div>
    <div class="product-characteristics">
        <h4 class="product-category">BATTEUR</h4>
        <p class="brand">Brand</p>
        <p class="reference">Reference</p>
        <br>
        <ul class="list-characteristics">
            <li>TYPE : SANS BOL</li>
            <li>PUISSANCE : 300</li>
            <li>FINITION : BLANC</li>
            <li>SANS FIL : NON</li>
        </ul>
        <hr>
        <div class="bottom-buttons">
            <a href="">
                <i class="fa-regular fa-heart" style="color: #858585;"></i>
                <span>ajouter a ma liste</span>
            </a>
            <button type="button">Ajouter au panier</button>
        </div>

    </div>
    <div class="price-and-infos">
        <div class="price">250 <span>DH</span></div>
        <div class="stock-availability">EN STOCK</div>
        <button type="button">VOIR LE PRODUIT</button>
    
    </div>

</div>
