.container * {
    font-family: 'Poppins', sans-serif;

}

.container .navigation-link {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.container .navigation-link img {
    width: 18px;
}

.container .navigation-link p {
    font-size: 13px;
    color: #5D5D5D;
    margin-left: 7px;
}

.container main {
    max-width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 240px calc(100% - 300px);
    gap: 60px;
}

.container main .filters {
    /* min-width: 300px; */
}

.container main .result {
    
}

.container main .filters > div {
    margin-bottom: 35px;
}























