<div class="filter-price">
    <h3 class="filter-name">Prix</h3>
    <div class="inputs">
        <div class="field">
            <input class="min-price" type="number" name="min-price" value="0">
            <span class="currency">DH</span>
        </div>
        <div class="separator">-</div>
        <div class="field">
            <input class="max-price" type="number" name="max-price" value="50000">
            <span class="currency">DH</span>
        </div>
    </div>
    <button type="button">APPLIQUER</button>
</div>
